.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  min-height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  align-self: flex-start;
  padding: 1rem 1rem 2rem;

}